.header {
    display: flex;
    align-items: center;
    background-color: rgb(168, 194, 172);
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo {
    max-height: 32px;
}

.header .title-group {
    padding-left: 30px;
}

.header .title-group i {
    padding-right: 10px;
}