.footer {
    max-height: 50px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(168, 194, 172);
}

.footer span {
    font-size: 1rem;
    font-weight: 200;
}